NEXT_PUBLIC_APP_URL=http://localhost:3000

# DATABASE: In the video, this comes from Neon Postgres (neon.tech)
DATABASE_URL=

# DISCORD: This comes from discord
DISCORD_BOT_TOKEN=

# WEBEX: This comes from webex
WEBEX_BOT_TOKEN=
WEBEX_BOT_ID=

# SLACK: This comes from webex
SLACK_BOT_TOKEN=

# PAYMENTS: This comes from stripe
STRIPE_SECRET_KEY=

# GOOGLE AUTH: These come from google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
